.notfound-page {
	.title {
		font-size: 4rem;
		margin-bottom: 15px;
		font-family: 'Poppins', sans-serif;
	}

	.description {
		font-size: 1.2rem;
		font-weight: 300;
		font-style: normal;
		font-family: 'Open Sans', sans-serif;
		color: #aaa;
		margin: 16px auto 16px;
		white-space: pre-line;
		width: 75vw;
		text-align: center;
		line-height: 1.4em;
	}

	@media only screen and (max-width: 600px) {
		.title {
			font-size:  3rem;
			margin-bottom: unset;
		}

		.description {
			width: 85vw;
			font-size: 1.5rem;
		}
	}
}